<section class="max-w-2xl mx-auto p-4 bg-neutral rounded-lg shadow-md">
  <h1 class="font-bold text-4xl mb-6">New <%= human_name.downcase %></h1>

  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>

  <div class="mt-6">
    <%%= link_to "Back to <%= human_name.pluralize.downcase %>", <%= index_helper(type: :path) %>, class: "btn btn-secondary" %>
  </div>
</section>
