<div id="<%= dom_id space %>" class="p-4 bg-base-200 rounded-lg">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= space.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tenant:</strong>
    <%= space.tenant.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created by:</strong>
    <%= space.created_by.id %>
  <span class="badge badge-secondary badge-outline">FIXME</span>
  </p>

</div>
