<div>
  <h1 class="font-bold text-4xl">Root page - incomplete</h1>
  <p>Find me in app/views/static/index.html.erb</p>

  <input class="input input-bordered input-secondary w-full max-w-xs" name="test"/>
</div>
